//- layout.pug
doctype html
html
  head
    title AJ's DanceAcedmy 
    block scripts
    block style        
  body
      nav#navbar 
            ul 
                  div#logo      
                    img(src="./static/logo.png")
                    | AJDA 
                  li #[a(href='/') Home]
                  li #[a(href='/') About]
                  li #[a(href='/') Services]
                  li #[a(href='/') Class Info]
                  li #[a(href='/contact') Contact Us]

      block content
      footer#footer
        |CopyWrite © AJ's DanceAcedmy. | All rights reserved